---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.jsx";
import HeaderSimple from "../layouts/Header.astro";
import FooterSimple from "../layouts/Footer.astro";
import Header from "../components/Header.jsx";
import Footer from "../components/Footer.jsx";
import 'animate.css';
import RelojSimple from "../components/Reloj.jsx";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/icons8-logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>CV David</title>
	</head>
	<HeaderSimple />
	<body>
		<RelojSimple></RelojSimple>
	</body>
	<FooterSimple />
</html>
