<head>
    <meta charset="UTF-8" />
</head>

<footer class="footer">
    <div class="footer-content">
        <div class="box">
            <p>
                © 2023 MyWebCV, created by David Garcia or most common by
                Joohnson. All rights reserved
            </p>
        </div>
    </div>
</footer>

<style>
    <style>
        /* Estilos generales del footer */
        .footer {
        background-color: #f0f0f0;
        padding: 20px;
        text-align: center;
        width: 100%;
    }

    /* Estilos del contenido del footer */
    .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Estilos de la caja de texto */
    .box {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
    }

    /* Estilos del texto dentro de la caja */
    .box p {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
        margin: 0;
        font-size: 16px;
    }
</style>
